.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80vh;
  position: relative;
}
.hero-container img {
  position: absolute;
  height: 80%;
  z-index: -1;
}

.hero-title-container {
  margin-left: 650px;
  height: 78vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hero-title-container h1 {
  margin-top: 150px;
  font-size: 65px;
  font-weight: 500;
  color: var(--secondary-color);
}

.hero-title-container h3 {
  font-size: 35px;
  font-weight: 400;
  color: var(--secondary-color);
}

.hero-title-container .hero-btn {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  padding: 15px 50px 15px 50px;
  border-radius: 50px;
  outline: none;
  border: none;
  color: #234383;
  font-size: 25px;
  background: #c1d0ef;
  font-weight: 500;
  cursor: pointer;
  width: 200px;
}

.hero-title-container button:hover {
  transition: all 0.5s ease-in-out;
  background: #82c4f2;
  color: #333;
}

.sub-section {
  margin-top: 100px;
  display: flex;
  border: 3px solid var(--main-color);
  gap: 80px;
  align-items: center;
  justify-content: center;
  padding: 10px 100px 10px 100px;
  margin-bottom: 50px;
  border-radius: 20px;
}

.sub-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-block img {
  width: 40px;
  margin: 20px;
}

.sub-block p {
  font-size: 20px;
  font-weight: 400;
}

.special-sale {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.sale-title {
  font-size: 45px;
  font-weight: 200;
  margin: 20px 0 50px 0;
  color: #55a2a6;
}

.container-sale-card {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 10px;
  margin-bottom: 50px;
}
.sale-card {
  padding: 20px;
  background-color: #19242a;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  border-radius: 10px;
  height: 300px;
  transition: background-color 0.6s ease-in-out;
  cursor: pointer;
  gap: 10px;
}

.sale-card:hover {
  scale: 1.04;
  background-color: #4ea494;
  background-image: linear-gradient(90deg, #234383 0%, #55a2a6 100%);

  transition: scale 0.4s ease-in-out;
}

.sale-img {
  display: flex;
  overflow: hidden;
  object-fit: contain;
  flex-direction: column;
  border-bottom: 1px solid var(--main-color);
}
.card-2-img {
  margin-bottom: 10px;
}

.sale-img img {
  width: 245px;
}

.sale-model {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  margin-bottom: auto;
}

.sale-model p {
  font-size: 18px;
}

.heart {
  width: 25px;
  height: 25px;
}

@media only screen and (min-width: 430px) and (max-width: 768px) {
  .hero-container {
    margin-top: 150px;
    flex-flow: column;
    height: 50vh;
  }
  .hero-container img {
    position: relative;
    height: 70%;
    margin-left: 50px;
  }
  .hero-title-container {
    text-align: center;
    margin-left: 0;
    padding: 0;
    margin-bottom: 20px;
    margin-top: -100px;
  }

  .hero-title-container h1 {
    font-size: 52px;
    margin-bottom: -10px;
  }
  .hero-title-container h3 {
    font-size: 40px;
    font-weight: 400;
  }
  .hero-title-container button {
    margin: auto;
  }

  .sub-section {
    flex-direction: column;
    padding: 10px 40px 10px 20px;
    gap: 20px;
    align-items: flex-start;
  }

  .sale-title {
    font-size: 35px;
  }
  .container-sale-card {
    width: 100%;
    gap: 0;
  }
  .sale-card {
    width: 150px;
    height: 235px;
    margin: 5px;
  }
  .sale-img {
    scale: 75%;
  }
}

@media only screen and (min-width: 820px) {
  .hero-title-container {
    height: 85vh;
    margin-left: 500px;
    scale: 0.8;
  }
  .hero-container img {
    height: 70%;
  }
  .container-sale-card {
    width: 75%;
  }
}

@media only screen and (min-width: 1024px) and (orientation: portrait) {
  .hero-title-container {
    height: 70vh;
    margin-left: 400px;
    scale: 0.8;
  }
  .hero-container img {
    height: 60%;
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1920px) {
  .hero-title-container {
    height: 110vh;
    margin-left: 700px;
  }
  .hero-container img {
    height: 100%;
  }
  .container-sale-card {
    width: 100%;
  }
}

@media only screen and (min-width: 1920px) {
  .body {
    max-width: 1200px;
  }
  .main-container {
    margin-top: 75px;
    max-width: 1920px;
  }
  .hero-container {
    max-width: 1920px;
  }
  .hero-title-container {
    max-width: 1920px;
    height: 110vh;
    margin-left: 850px;
  }
  .hero-container img {
    height: 100%;
  }

  .container-sale-card {
    gap: 30px;
    justify-content: center;
  }
}
