@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: #c1d0ef;
  --secondary-color: #cecece;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
  color: var(--main-color);
  align-items: center;
  justify-content: center;
}

footer {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 20px;
  padding: 20px;
  color: #444;
  text-align: center;
}

footer hr {
  background-color: #7f9fdd;
  height: 1px;
  border: none;
}

.media-links {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1;
}

.media-links-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.media-links-container p {
  color: #7f9fdd;
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 400;
}

.media-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.media-options .options-img {
  width: 100px;
}

.deal {
  width: 60px;
}

.social-media-options img:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.05);
  filter: brightness(110%);
}
.media-options img:hover {
  transition: all 0.5s ease-in-out;
  transform: scale(1.05);
  filter: brightness(110%);
}

.social-media-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.social-icon {
  width: 45px;
}

.social-icon-youtube {
  width: 60px;
}

.media-download {
  margin: 40px 0 20px 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.media-download p {
  color: #7f9fdd;
  font-size: 25px;
  margin-bottom: 20px;
  font-weight: 400;
}

.media-download-options {
  display: flex;
  gap: 20px;
}

.media-download-options img {
  width: 225px;
  border-radius: 11px;
  cursor: pointer;
}

.media-download-options img:hover {
  transform: scale(1.02);
  box-shadow: 0 1px 10px 0px #50afc9;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 430px) {
  footer {
    text-align: left;
  }
  .media-links {
    justify-content: flex-start;
    gap: 50px;
  }
  .media-options {
    margin-top: 15px;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
  }
  .social-media-options {
    flex-direction: column;
    gap: 20px;
  }
  .social-icon-youtube {
    width: 60px;
    margin-bottom: -10px;
  }
  .media-download-options {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 481px) {
  footer {
    text-align: left;
  }
  .media-links {
    justify-content: flex-start;
    gap: 50px;
  }
  .media-options {
    margin-top: 15px;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
  }
  .social-media-options {
    flex-direction: column;
    gap: 20px;
  }
  .social-icon-youtube {
    width: 60px;
    margin-bottom: -10px;
  }
  .media-download-options {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  footer {
    text-align: left;
  }
  .media-links {
    justify-content: flex-start;
    gap: 50px;
  }
  .media-options {
    margin-top: 15px;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
  }
  .social-media-options {
    flex-direction: column;
    gap: 20px;
  }
  .social-icon-youtube {
    width: 60px;
    margin-bottom: -10px;
  }
}

@media screen and (max-width: 1024px) {
  footer {
    width: 90%;
  }
  .media-links {
    justify-content: space-between;
    gap: 50px;
  }
  .media-options {
    margin-top: 15px;
    gap: 30px;
  }
  .social-media-options {
    gap: 20px;
  }

  .media-download-options {
    gap: 20px;
  }
}
@media only screen and (min-width: 1920px) {
  footer {
    width: 1200px;
  }
}
