.about-us {
  margin-top: -120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  background-image: url(./assets/about-us-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
  height: 270vh;
  gap: 100px;
}

.about-us-title-container {
  margin-top: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  height: 80vh;
}

.about-us-title {
  width: 100%;
  font-size: 65px;
  font-weight: 400;
  margin-bottom: 0;
}

.about-us-section-1 {
  margin-top: -200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 60%;
  height: 400px;
  padding: 20px;
  background-image: url(./assets/background-section-1.png);
  background-size: cover;
  border-radius: 15px;
  background-color: black;
}

.about-us-section-title {
  font-size: 40px;
  font-weight: 500;
  margin: 20px;
}

.about-us-section-paragraph {
  font-size: 25px;
  font-weight: 500;
  margin: 20px;
}

.about-us-section-2 {
  display: flex;
  width: 60%;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
  background-image: url(./assets/section-2-bg.png);
  background-size: cover;
  border-radius: 15px;
  background-color: black;
}

.phone-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.phone-frame {
  width: 420px;
  z-index: 1;
}
.phone-screen {
  position: absolute;
  width: 200px;
  left: 70px;
  z-index: 0;
}

.about-us-section-2-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
}

.section-2-title {
  font-size: 35px;
  font-weight: 500;
}

.about-us-section-2-info p {
  font-size: 20px;
  font-weight: 400;
}

.whatsapp {
  align-items: start;
  display: flex;
  gap: 20px;
}

.numbers {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-3 {
  margin-top: 200px;
  height: 50vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  gap: 0;
}

.robo-hands {
  position: absolute;
  width: 100%;
  z-index: -10;
}

.section-3-logo {
  margin-top: 100px;
  width: 300px;
  margin-bottom: 0;
  padding: 0;
}

.section-3-subtext {
  margin-top: -55px;
  font-size: 27px;
  font-weight: 400;
}
